*{
		margin:0;
		padding:0;
	}
	li{
		list-style:none;
	}
	a{
		text-decoration: none;
	}
	#play_infoBox{
		position: fixed;
		top: 0;
	  	width: 100%;
		height:38px;
		background:#f4f4f4;
		border-bottom: 1px solid #eaeaea;
		z-index: 9999;
	}
	#play_infoBox .tag1{
		font-family: "微软雅黑","Microsoft Yahei";
		font-size: 12px;
		position:absolute;
		left:85px;
		top:10px;
	}
	#play_infoBox .register{
		font-size:14px;
		width:103px;
		height:37px;
		position:absolute;
		right:50px;
		top:10px;
	}
	#play_infoBox .reg1{
		width:45px;
		height:18px;
		border-radius:3px;
		border:1px solid #f66;
		text-align: center;
		background:#f66;
		color:#fff;
		float:left;
		margin-right:5px;
		
	}
	#play_infoBox .reg2{
		width:45px;
		height:18px;
		border-radius:3px;
		border:1px solid #a6a6a6;
		text-align: center;
		color:#a6a6a6;
		float:left;
	}
	#play_mainBox{
		height:111px;
		width: 100%;
		position: fixed;
		top: 38px;
		z-index: 9999;
		background: white;
	}
	#play_mainBox .logo{
		width:160px;
		height:49px;
		background: url("../playImg/mainBox.png") 0 -185px;
		position:absolute;
		left:110px;
		top:28px;
	}
	#play_mainBox .combine{
		width:419px;
		height:37px;
		border-radius:25px;
		border:1px solid #a6a6a6;
		position:absolute;
		left:500px;
		top:30px;
		background: url("../playImg/mainBox.png") no-repeat 0 -50px;
	}
	.inp{
		width:302px;
		height:36px;
		position:absolute;
		left:65px;
		border:1px solid transparent;
	}
	.inp input{
		width:276px;
		height:34px;
		border:1px solid transparent;
		color:#a6a6a6;
		font-size:14px;
		font-family: "微软雅黑","Microsoft Yahei";
		font-size: 12px;
		outline: none;  /*搜索框消失*/
	}
	.search{
		width:55px;
		height:37px;
		background:url("../playImg/mainBox.png");
		background-position: 0 -92px;
		background-repeat: no-repeat;
		position:absolute;
		right:0;
	}
	#play_hot{
		position:absolute;
		right:140px;
		top:36px;
	}
	#play_hot span{
		font-family: "微软雅黑","Microsoft Yahei";
		font-size: 12px;
	}
	#play_hot a{
		color:#525252;
		font-family: "微软雅黑","Microsoft Yahei";
		font-size: 12px;
	}
	#play_dirBox{
		height:39px;
		width: 100%;
		border-bottom: 2px solid #f66;
		position: fixed;
		top: 149px;
		z-index: 9999;
		background: white;
	}
	.dirMid{
		width:1200px;
		height:26px;
		margin:auto;
	}
	.dirMid .a0{
		width:90px;
		height:26px;
		background: #f66;
		border-radius:20px;
		float: left;
		margin-left: 20px;
		margin-right: 120px;
		color:rgb(255, 255, 255);
	}
	.dirMid .a1{
		width:82px;
		height:26px;
		border-radius:20px;
		float: left;
		margin-right: 120px;
		color:rgb(0, 0, 0);
		text-align: center;
		line-height: 26px;
		font-family: "微软雅黑", "Microsoft Yahei";
		font-size: 16px;
	}
	.dirMid .a1:hover{
		background: #f66;
		color:rgb(255, 255, 255);
	}
	.dirMid .aimg{
		width:15px;
		height:16px;
		background:url(../playImg/mainBox.png);
		background-position: 0 -239px;
		float: left;
		margin-left: 20px;
		margin-top: 5px;
	}
	.dirMid span{
		line-height: 26px;
		float: left;
		margin-left: 10px;
	}
#contain{
	width: 960px;
	height: 775px;
	margin: auto;
	position: relative;
	top: 190px;
	padding: 53px 0 0px;
}
.tou_con{
	width: 960px;
	height: 58px;
	border-top: 5px solid #f66;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	background: #f7f7f7;
	text-align: center;
	line-height: 58px;
	font-size: 24px;
	color: #888;
}
.body_con{
	width: 960px;
	height: 554px;
	border: 1px solid #e1e1e1;
}
/*文字部分*/
.body_con p{
	display: inline-block;
	width: 305px;
	height: 37px;
	float: left;
}
.body_con p .a1{
	font-size: 16px;
	margin-right: 8px;
	color: #f66;
	line-height: 36px;
	float: right;
}
.body_con p .a2{
	float: right;
	font-size: 14px;
	line-height: 36px;
	color: #333;
}

.row1{
	width: 958px;
	height: 54px;
	padding-top: 40px;
}
/*输入框*/
.row1 .xin_xi{
	background: #f7f7f7;
	border: 1px solid #d6d5d5;
	width: 291px;
	height: 39px;
	line-height: 36px;
	display: inline-block;
}
.row1 .xin_xi input{
	width: 279px;
	height: 36px;
	background: 0 0;
	border: none;
	outline: none;
	margin-left: 5px;
}
/*提示信息*/
.ti_shi{
	color: #888;
	font-size: 14px;
	margin-left: 6px;
	position: absolute;
	top: 168px;
}
.row2{
	width: 958px;
	height: 54px;
	padding-top: 10px;
}
/*输入框*/
.row2 .xin_xi{
	background: #f7f7f7;
	border: 1px solid #d6d5d5;
	width: 136px;
	height: 39px;
	line-height: 36px;
	display: inline-block;
	position: relative;
}
.row2 .xin_xi input{
	width: 136px;
	height: 36px;
	background: 0 0;
	border: none;
	outline: none;
	margin-left: 5px;
	float: left;
}
/*验证码*/
.yan_zheng{
	width: 96px;
	height: 38px;
	border: 1px solid #d6d5d5;
	cursor: pointer;
}
/*提示信息*/
.huan{
	color: #11b14c;
	font-size: 12px;
	margin-left: 5px;
	position: absolute;
	top: 234px;
}
.row3{
	width: 958px;
	height: 54px;
	padding-top: 10px;
}
.next{
	width: 130px;
	height: 42px;
	margin: auto;
	background: #f66;
	font-size: 18px;
	color: #fff;
	line-height: 42px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
	/*一键到顶*/
	#scollTop{
		width: 42px;
		height: 73px;
		display: block;
		right: 180px;
		margin-right: 0px;
		bottom: 10px;
		position:fixed;
		cursor: pointer;
		z-index: 999;
	}
	#scollTop a{
		background: url(../playImg/pic_elements.png) no-repeat  0 -933px;
		display: block;
		height: 73px;
	}
	/*底部*/
	#play_last{
		width: 100%;
		height: 290px;
		background: #5f5f5f;
		position: relative;
		top: 190px;
	}
	#play_last .last_mid{
		width: 1200px;
		height: 220px;
		margin: auto;
		padding-top: 20px;
	}
	.last_mid .mid1{
		width: 1200px;
		height: 78px;
		border-top: 1px solid #777676;
		border-bottom: 1px solid #777676;
	}
	.mid1 .mid_left{
		width: 894px;
		height: 37px;
		float: left;
		line-height: 37px;
		padding: 16px 0;
	}
	.mid_left a{
		margin-bottom: 10px;
		color: #d2d2d2;
		margin-right: 16px;
		font-size: 12px;
	}
	.mid_left a:hover{
		text-decoration-line: underline;
	}
	.mid1 .mid_right{
		width: 286px;
		height: 39px;
		float: left;
		line-height: 39px;
		padding: 16px 0;
	}
	.mid_right span{
		font-size: 18px;
    	color: #f0efef;
	}
	.last_mid .mid2{
		width: 1200px;
		height: 148px;
		padding-top: 32px;
	}
	.mid2 .mid2_box{
		width: 980px;
		height: 116px;
		padding-left: 220px;
	}
	.mid2_box p{
		width: 980px;
		height: 17px;
		font-size: 12px;
		color: #afadad;
		margin-bottom: 12px;
	}
	.mid2_box span{
		margin-right: 30px;
	}
	.mid2_box a{
		font-size: 12px;
		color: #afadad;
	}
	.mid2_box a:hover{
		text-decoration-line: underline;
	}